*{
    margin: 0;
   padding: 0;
}
header{
    max-width: 1600px;
    margin: 0 auto;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#1A0B2E ;
    align-items: center;
    border-bottom: 2px solid rgba(65, 37, 103, 1);
    padding: 16px;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.hamburger{
    display: none;
}
.navbar h1{
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
}
.navbar ul{
   color:  rgba(255, 255, 255, 0.6);
}
.navbar button a{
    text-decoration: none;
    color: #ffffff
}

.banner-section{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
   flex-direction: column;
  align-items: center;
  text-align: center;
 background-blend-mode: overlay;

}


.banner-content{
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.banner-content h1{
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
  
    margin-bottom: 20px;

}
.line-2{
    font-size: 28px;
    font-weight: 500;
    background-color: #00FF88;
    border-radius: 30px;
    width: 70px;
    padding: 8px 16px;
   position: absolute;
   left: 240px;
   top: 10px;
}
  
.banner-content p{
    font-size: 16px;
    color:  rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 25px;
}
.btn{
background: linear-gradient(to right, #F7E93F 0%,#FB09B4 51%, #9100F8 100%);
padding: 10px 16px;
border-radius: 50px;
color: #ffffff;
cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}
.btn2{
    padding: 12px 20px;
    border-radius: 50px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: #1A0B2E;
    cursor: pointer;
}
.button-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button-card button{
    display: flex;
  align-items: center;
  gap: 8px;
}

 .box{
     position: relative; 
} 

.microphone{
  top: -300px;
 left: 5px;
 animation: moveBox 2s infinite alternate;
 
}
@keyframes moveBox {
    from{
        transform: translateY(0);
    }
    to{
        transform:translateY(100px);
    }
}
.hero{
    margin-top: 140px;
}
.hero img{
   height: 400px;
    width: 400px;
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
.podcast-container{
    background-color: #1A0B2E;
}
.pocast-main{
    max-width: 1200px;
    margin: 0 auto;
}
.podcast-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px ;
    padding-top: 50px;
    border-bottom: 1px solid #2f1e45;
}
.podcast-content h1{
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 16px;
}
.podcast-content p{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 28px;
    color:  rgba(255, 255, 255, 0.6);
}
#line{
    margin-top: 20px;
}
.podcast-number{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   max-width: 1200px;
   margin: 0 auto;
   column-gap: 220px;
   margin-top: 80px;
}
.podcast-card h1{
    color: #00FF88;
   font-size: 45px;
   font-weight: 900;
}
.podcast-card p{
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color:  rgba(255, 255, 255, 0.6);
}
.podcast-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 120px;
}
.techwave{
    background-color: #230E3D;
}
.techwave-container{
    max-width: 1200px;
    margin: 0 auto;
}
.techwave-card-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.big-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.normal-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.small-layout{
   grid-column: span 1;
   grid-row: span 1;
}
.techwave-card{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
   align-items: start;
    justify-content: center;
}
.techwave-card h4{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 16px 0;
}
.techwave-card p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.techwave-container h1{
    text-align: center;
    color: #ffffff;   
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
}
.techwave-container {
    padding-bottom: 120px;
     padding-top: 120px;
}
.episode-text{
    padding: 25px;
}
.episode-text h2{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.episode-container{
    background-color: #1A0B2E;
    padding-top: 120px;
}
.episode-part{
    max-width: 1200px;
    margin: 0 auto;
}
.episode-text p{
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 16px;
}
.episode-text span{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}
.episode-video{
    background-color: #250D44;
    border-radius: 30px;
}
.episode-card{
    display: grid;
    grid-template-columns: repeat(3,380px);
    column-gap: 20px;
}
.episode-part h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}
.host{
    max-width: 1200px;
    margin: 0 auto;
}
.host h1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 120px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 40px;
}
.host-main{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 40px;
    background-color:#250D44;
    border-radius: 30px;
}
.host-main h2{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;

}
.host-main p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    line-height: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.host-container{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.host-image {
    display: flex;
    flex-direction: row;

    gap: 10px;
    align-items: center;
}
.host-image img{
    border: 1px solid #533C72;
    border-radius: 13px;
    padding: 3px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}
footer{
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
   background-position: center;
   position: relative;
   background-blend-mode: overlay;
    max-width: 1600px;
    margin: 0 auto;

  
}
.footer-main{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.line-1{
   background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.footer-main h1{
padding-top: 120px;
font-size: 50px;
font-weight: bold;
color: #ffffff;
padding-bottom: 35px;
}
.footer-main .d2{
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 120px;
    padding-top: 35px;
}
.footer-card p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    
}
.footer-card {
    display: flex;
   gap: 15px;
}
.footer-card-box{
    display: flex;
    gap: 25px; 
   justify-content: center;
}
@media screen and (max-width:576px){
      .podcast-number{
    grid-template-columns: repeat(2,190px);
     padding: 0 35px;
     column-gap: 35px;
    

   }
   .podcast-content{
    margin: 0 20px;
   }
   .techwave-card-box, .episode-card{
    grid-template-columns: repeat(1,400px);
    display: flex;
    flex-direction: column;
    gap: 16px;
   }  
  .techwave-container{
    margin: 0 10px;
  }
  .episode-part{
    margin: 0 20px;
  }
   .hamburger{
  display: flex;
   }
   .menu li, button{
    display: none;
   }
   .host-main{
    flex-direction: column;
    margin: 0 20px;
   }
   .host-text{
    text-align: center;
   }
   .host-image{
    justify-content: center;
   }
  .footer-card-box{
    display: grid;
    grid-template-columns: repeat(2,150px);
  }
  footer{
    background-size: cover;
    background-position: center;

  }
 
}